node_modules/
jspm_packages/
*.class
.gradle/
# Package Files #
*.jar
*.war
*.ear
*.iml
.idea
.DS_Store
*.iml
*.ipr
*.iws
target
*.swp
*~
.*~
*.aux
*.nav
*.out
*.toc
*.snm
*.log
*.pdf
*.vrb
_minted
.clj-kondo
.lsp
.vscode
.rebel_readline_history
_minted*
.cpcache
output.calva-repl

